<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmsegroup8.PlantATree">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchFilter" />
        <activity android:name=".Palm_Tree" android:parentActivityName=".Search"/>
        <activity android:name=".Search" android:parentActivityName=".Home"/>
        <activity android:name=".Payment" android:parentActivityName=".Delivery"/>
        <activity android:name=".Delivery" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Arborvitae" android:parentActivityName=".Search"/>
        <activity android:name=".Butternut_Tree" android:parentActivityName=".Search"/>
        <activity android:name=".listadpater"></activity>
    </application>

</manifest>